@model Sigil.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil - Register";
}

<div class="form-page-block centered">
    <h2 style="margin-left:0.7em;">Join Sigil today</h2>

    @using ( Html.BeginForm( "Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" } ) ) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( "", new { @class = "text-danger" } )

        @*Html.LabelFor( m => m.Email, new { @class = "col-md-2 control-label" } )*@
        @Html.TextBoxFor( m => m.Email, new { @class = "form-page-text-box centered", placeholder = "Email" } )
        
        @*Html.LabelFor( m => m.Email_confirm, new { @class = "col-md-2 control-label" } )*@
        @Html.TextBoxFor( m => m.Email_confirm, new { @class = "form-page-text-box centered", placeholder = "Confirm email" } )
        
        @*Html.LabelFor( m => m.UserName, new { @class = "col-md-2 control-label" } )*@
        @Html.TextBoxFor( m => m.UserName, new { @class = "form-page-text-box centered", placeholder = "Username" } )

        @*Html.LabelFor( m => m.Password, new { @class = "col-md-2 control-label" } )*@
        @Html.PasswordFor( m => m.Password, new { @class = "form-page-text-box centered", placeholder = "Password" } )
        
        @*Html.LabelFor( m => m.ConfirmPassword, new { @class = "col-md-2 control-label" } )*@
        @Html.PasswordFor( m => m.ConfirmPassword, new { @class = "form-page-text-box centered", placeholder = "Confirm password" } )

        <input class="form-page-submit centered" type="submit" value="Sign up" />
    }

    @section Scripts {
        @Scripts.Render( "~/bundles/jqueryval" )
    }
</div>