@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DotNet.Highcharts
@using Sigil.Models
@model List<Highcharts>
@{
    Org thisOrg = ViewBag.thisOrg;
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<div class="first-column">
    <img class="org-banner" src="../Content/Images/orgbanners/microsoft.png"><h1>@thisOrg.orgName</h1>
    <article class="org-data-body">
        Views over week/month
        @(Model[0])
        <p>
            Views this week: @ViewBag.weekViewCount<br />
            Votes this week: @ViewBag.weekVoteCount<br />
            Conversion rate: @ViewBag.weekRatio%
        </p>
        <br />
        Votes over week/month
        @(Model[1])
        <p>
            Views this month: @ViewBag.monthViewCount<br />
            Votes this month: @ViewBag.monthVoteCount<br />
            Conversion rate: @ViewBag.monthRatio%
        </p>
        <br />
        Conversion rates views->votes over week/month
        <br />
        New Subscriptions over week/month
        <br />
        Conversion rates votes-> Subscriptions over week/month
        <br />
        Top 10 votes issues this week/month
        <br />
        Top 10 underdog issues this week/month
        <br />
        Company Responsiveness this week/month: Response Rate, average time to respond
        </article>
</div>
