@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Sigil.Models

@{
    Org thisOrg = ViewBag.thisOrg;
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="~/Scripts/Graph.js"></script>

<div class="first-column">
    <img class="org-banner" src="../Content/Images/orgbanners/microsoft.png"><h1>@thisOrg.orgName</h1>
    <article class="org-data-body">
        <div id="default_org_chart_div" style="width: 600px; height: 350px;">
        </div>
        <select id ="selected_data" name="selected_data">
            <option value="Views">Views</option>
            <option value="Votes">Votes</option>
            <option value="Comments">Comments</option>
            <option value="Subscriptions">Subscriptions</option>
            <option value="All">All</option>
        </select>
        <input type="text" id="datepickerStart" name="start" />
        <input type="text" id="datepickerStop" name="stop" />
        <input type="button" value="Get Chart" onclick="Custom_Chart()" />
        @*Views over week/month
        @(Model[0])
        <p>
            Views this week: @ViewBag.weekViewCount<br />
            Votes this week: @ViewBag.weekVoteCount<br />
            Conversion rate: @ViewBag.weekRatio%
        </p>
        <br />
        Votes over week/month
        @(Model[1])
        <p>
            Views this month: @ViewBag.monthViewCount<br />
            Votes this month: @ViewBag.monthVoteCount<br />
            Conversion rate: @ViewBag.monthRatio%
        </p>*@
        @*<br />
        Conversion rates views->votes over week/month
        <br />
        New Subscriptions over week/month
        <br />
        Conversion rates votes-> Subscriptions over week/month
        <br />
        Top 10 votes issues this week/month
        <br />
        Top 10 underdog issues this week/month
        <br />
        Company Responsiveness this week/month: Response Rate, average time to respond*@
        </article>
</div>


