@using Sigil.Models
@using Microsoft.AspNet.Identity
@model Tuple<Org, PagedList.IPagedList<Sigil.Models.Issue>>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Org thisOrg = Model.Item1;
    ViewBag.Title = "Sigil - " + thisOrg.orgName;

    UserVoteCol userVotes = ViewBag.userVotes;
    Subscription userSub = ViewBag.userSub;

    string banner = Sigil.Controllers.ImageController<Org>.Get_Banner_Tall(thisOrg);
}

<div class="col-md-9 col-lg-9">
    <img class="img-rounded img-responsive org-banner-small" src="@banner">
    <div class="btn-group btn-group-sm btn-group-justified" style="margin-bottom:20px;">
        <a class="btn btn-default active">Main feed</a>
        <a class="btn btn-info" href="/@thisOrg.orgURL/responses">Responses</a>
        <a class="btn btn-success">Data</a>
        <a class="btn btn-primary">Subscribe to @thisOrg.orgName</a>
    </div>
    @foreach ( Issue issue in Model.Item2 ) {
        var issuePanelModel = new Tuple<IssuePanelOptions, Issue>( new IssuePanelOptions() { inPanel = true, showOrg = false, showCat = false, showTopic = false, showUser = true,
                                                                                             userVoted = userVotes.Check_Vote( issue.Id, issue.OrgId )}, 
                                                                   issue );
        @Html.Partial( "../Shared/_IssuePanelPartial", issuePanelModel )
    }
    <br />
    @*Page @issueList.PageCount < issueList.PageNumber ? 0 : issueList.PageNumber of @issueList.PageCount*@

    @Html.PagedListPager(Model.Item2, page => Url.Action("OrgPage","Org", new { page}))
</div>
@Html.Partial( "../Shared/_SideBar", new Tuple<Org, List<Subscription>>( thisOrg, Sigil.Controllers.AccountController.userSubs( User ) ) )