@using Sigil.Models
@using Sigil.ViewModels
@using Microsoft.AspNet.Identity
@using PagedList;
@using PagedList.Mvc;
@model OrgPageViewModel

@{
    Layout = Server.MapPath(@" ~/Views") + "/Shared/_Layout.cshtml";

    Org thisOrg = Model.thisOrg;
    ViewBag.Title = "Sigil - " + thisOrg.orgName;

    UserVoteCol userVotes = Model.UserVM.UserVotes;//ViewBag.userVotes;
    IEnumerable<SubscriptionViewModel> userSubs = Model.UserVM.UserSubscriptions;//Sigil.Controllers.AccountController.userSubs( User );
}

<div id="main-col" class="col-md-9 col-lg-9">
    <img class="img-rounded img-responsive org-banner-small" src="@(thisOrg.Image.banner)">
    <div class="btn-group btn-group-sm btn-group-justified" style="margin-bottom:20px;">
        <a class="btn btn-default active">Main feed</a>
        <a class="btn btn-info" href="/@thisOrg.orgURL/responses">Responses</a>
        @*<a class="btn btn-success" href="/@thisOrg.orgURL/data">Data</a>*@
        @if (!Request.IsAuthenticated) {
            <a class="btn btn-primary subscribe" onclick="redirectToLogin()">Subscribe to @thisOrg.orgName</a>
        } else if (userSubs.Any<SubscriptionViewModel>(s => s.subObjectId == thisOrg.Id && s.subName == thisOrg.orgName)) {
            <a class="btn btn-danger unsubscribe" onclick="unsubscribe(this, '@thisOrg.orgURL', 'all')">Unsubscribe from @thisOrg.orgName</a>
        } else {
            <a class="btn btn-primary subscribe" onclick="subscribe(this, '@thisOrg.orgURL', 'all')">Subscribe to @thisOrg.orgName</a>
        }
    </div>
    <div class="panel">
        <div class="panel-body">
            <form method="post" id="issue-search-post-form">
                <div class="form-group">
                    <textarea id="issues-by-org-search" class="form-control panel-input-box" type="text" name="title" value="@Request.Form["title"]" placeholder="Search for feedback or submit your own" data-orgid="@thisOrg.Id"></textarea>
                </div>
                <div id="new-feedback-button" class="btn btn-primary pull-right" style="padding:4px 9px;">Submit this as new feedback</div>
                
                <div class="form-group" id="product-select-group">
                    <label for="product-select">Tag your feedback by product, department, or category:</label>
                    <select class="form-control" id="product-select" name="product-select">
                        @foreach ( Product p in Model.thisOrg.Products ) {
                            <option value="@p.Id">@p.ProductName</option>
                        }
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div id="issues">
        @foreach ( IssuePanelPartialVM issueVM in Model.orgIssues ) {
            @Html.Partial( "../Shared/_IssuePanelPartial", issueVM )
            @*<a href="/@Model.thisOrg.orgURL/issueDelete/@issueVM.issue.Id/"> Delete Issue</a>*@
        }
    </div>
    @*Page @issueList.PageCount < issueList.PageNumber ? 0 : issueList.PageNumber of @issueList.PageCount*@

    @Html.PagedListPager(Model.orgIssues, page => Url.Action("OrgPage", "Org", new { page }))
</div>
@{Html.RenderAction("_SideBar", "Shared");}

<script type="text/javascript" src="~/Scripts/issueformorgpage.js"></script>