@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Sigil.Models
@using Microsoft.AspNet.Identity
@model Tuple<Org, IQueryable<Issue>>
@{
    IQueryable<Vote> userVotes = ViewBag.userVotes;
}



<div class="first-column">
    <img class="feed-header" src="../Content/Images/orgheaders/microsoft.png"></img>
    <div class="issue-options">
        <ul class="issue-options-list">
            <li class="issue-option">Org Page</li>
            <li class="issue-option"><a href="@Url.Action("OrgData", "Org", new { orgName = Model.Item1.orgName })">Data</a></li>
        </ul>
    </div>
    @if (Request.IsAuthenticated)
        {
            foreach (Issue issue in Model.Item2)
            {
                <article class="issue-box">
                    <div class="issue-vote-area">
                        <<span class="issue-vote-amount" Id="votecount_@issue.Id">@(issue.votes)</span>
                        @if (userVotes.Any(v => v.IssueId == issue.Id))
                            { // User has voted on issue
                                <img class="issue-vote-button checked" id="vote_@issue.Id" src="../Content/Images/vote_circle_small.png" onclick="vote(this, vote_@issue.Id, @User.Identity.GetUserName())" onmouseover="votehover(this)" onmouseout="voteunhover(this)"></img>
                            }
                            else
                            { // User hasn't voted on issue
                                <img class="issue-vote-button unchecked" id="vote_@issue.Id" src="../Content/Images/vote_circle_small.png" onclick="vote(this, vote_@issue.Id, @User.Identity.GetUserName())" onmouseover="votehover(this)" onmouseout="voteunhover(this)"></img>
                            }
                        
                    </div>
                    <div class="issue-main-area">
                        <div class="issue-main-cell">
                            <div class="issue-title-area"><span class="issue-title">@issue.title</span></div>
                            <div class="issue-info-area">
                                <span class="issue-org-cat-topic">
                                    <img class="issue-info-icon" src="../Content/Images/caticons/windows_20.png"></img>Windows
                                    in Operating Systems
                                </span>
                                <span class="issue-user-date">
                                    @issue.createTime
                                    <img class="issue-info-icon" src="../Content/Images/usericons/nervecenter_20.png"></img>@issue.AspNetUser.UserName
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
              }
     }
