@using Sigil.Models
@using Sigil.ViewModels
@using Microsoft.AspNet.Identity
@using PagedList;
@using PagedList.Mvc;
@model OrgPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Org thisOrg = Model.thisOrg;
    ViewBag.Title = "Sigil - " + thisOrg.orgName;

    UserVoteCol userVotes = Model.UserVM.UserVotes;//ViewBag.userVotes;
    IEnumerable<SubscriptionViewModel> userSubs = Model.UserVM.UserSubscriptions;//Sigil.Controllers.AccountController.userSubs( User );
}

<div class="col-md-9 col-lg-9">
    <img class="img-rounded img-responsive org-banner-small" src="@(thisOrg.Image.banner)">
    <div class="btn-group btn-group-sm btn-group-justified" style="margin-bottom:20px;">
        <a class="btn btn-default active">Main feed</a>
        <a class="btn btn-info" href="/@thisOrg.orgURL/responses">Responses</a>
        <a class="btn btn-success" href="/@thisOrg.orgURL/data">Data</a>
        @if (!Request.IsAuthenticated) {
            <a class="btn btn-primary subscribe" onclick="redirectToLogin()">Subscribe to @thisOrg.orgName</a>
        } else if (userSubs.Any<SubscriptionViewModel>(s => s.subObjectId == thisOrg.Id && s.subName == thisOrg.orgName)) {
            <a class="btn btn-danger unsubscribe" onclick="unsubscribe(this, '@thisOrg.orgURL', 'org')">Unsubscribe from @thisOrg.orgName</a>
        } else {
            <a class="btn btn-primary subscribe" onclick="subscribe(this, '@thisOrg.orgURL', 'org')">Subscribe to @thisOrg.orgName</a>
        }
    </div>
    <div class="panel">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    @*<label for="text">Text:</label><br />*@
                    <textarea id="issues-by-org-search" class="form-control" type="text" name="title" value="@Request.Form["title"]" placeholder="Search for feedback or submit your own" style="height:70px;min-height:70px;max-width:100%;min-width:100%;" data-orgid="@thisOrg.Id"></textarea>
                </div>
                <div class="form-group" style="margin-bottom:0px;">
                    <button type="submit" class="btn btn-primary pull-right" style="padding:4px 9px;">Submit this as new feedback</button>
                </div>
            </form>
        </div>
    </div>
    @foreach (IssuePanelPartialVM issue in Model.orgIssues) {
        /*var issuePanelModel = new Tuple<IssuePanelOptions, Issue>( new IssuePanelOptions() { inPanel = true, showOrg = false, showCat = false, showTopic = false, showUser = true,
                                                                                             userVoted = userVotes.Check_Vote( issue.Id, issue.Category.OrgId )}, 
                                                                   issue );*/
        @Html.Partial("../Shared/_IssuePanelPartial", issue)
    }
    @*Page @issueList.PageCount < issueList.PageNumber ? 0 : issueList.PageNumber of @issueList.PageCount*@

    @Html.PagedListPager(Model.orgIssues, page => Url.Action("OrgPage", "Org", new { page }))
</div>
@{Html.RenderAction("_SideBar", "Shared");}