@using Sigil.Models

@model Tuple<IssuePanelOptions, Issue>

@{
    bool inPanel = Model.Item1.inPanel;
}

@helper MainMarkup() {
    bool showOrg = Model.Item1.showOrg;
    bool showCat = Model.Item1.showCat;
    bool showTopic = Model.Item1.showTopic;
    Issue thisIssue = Model.Item2;

    <div class="panel-body">
        <div class="media">
            <a href="#" class="pull-left">
                <img src="../Content/Images/usericons/nervecenter_large.png" class="media-object" alt="Sample Image">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="/@thisIssue.Org.orgURL/@thisIssue.Id">@thisIssue.text</a>
                    @if ( thisIssue.responded ) { <small><i style="color:red;">Response!</i></small> }
                </h4>
                <p class="pull-left">
                    @if ( showOrg ) { <span>@thisIssue.Org.orgName</span> }
                    @if ( showCat ) { <span>: @thisIssue.Category.catName</span> }
                    @if ( showTopic ) { <span>in @thisIssue.Topic.topicName</span> }
                </p>
                <p class="pull-right">Posted @Sigil.Controllers.IssueController.TimeSince( thisIssue.createTime ) by @thisIssue.AspNetUser.UserName</p>
            </div>
        </div>
    </div>
}

@if ( inPanel ) {
    <div class="panel panel-default">
        @MainMarkup()
    </div>
} else {
    @MainMarkup()
}