@using Sigil.Models
@using Sigil.ViewModels

@model IssuePanelPartialVM

@helper MainMarkup() {


    <div class="panel-body">
        <div class="media">
            <div class="media-object pull-left votebutton-box">
                @if ( !Request.IsAuthenticated ) {
                    <img src="~/Content/Images/notvoted.png" class="voteup" onclick="redirectToLogin()" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                } else if ( Model.UserVoted ) {
                    <img src="~/Content/Images/voted.png" class="unvoteup" onclick="unvoteup(this, @Model.issue.Id")" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                } else {
                    <img src="~/Content/Images/notvoted.png" class="voteup" onclick="voteup(this, @Model.issue.Id")" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                }
                <br />
                <span id="count-@Model.issue.Id" class="voteamount">@Model.issue.votes</span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="/@Model.issue.Product.Org.orgURL/@Model.issue.Product.ProductURL/@Model.issue.Id">@Model.issue.title</a>
                    @if ( Model.issue.responded ) { <small><i style="color:red;">Response!</i></small> }
                </h4>
                <p class="pull-left">
                    <img class="issue-panel-icon" src="@(Model.issue.Product.Image.icon_20)" /><span><a href="/@Model.issue.Product.Org.orgURL">@Model.issue.Product.Org.orgName</a></span>
                    <span>: @Model.issue.Product.ProductName</span>
                    @*<span>in @thisIssue.Topic.topicName</span>*@
                </p>
                <p class="pull-right">
                    Posted @*@Sigil.Controllers.IssueController.TimeSince( thisIssue.CreateTime )*@ 
                    <span>by @Model.issue.User.DisplayName</span>
                </p>
            </div>
        </div>
    </div>
}

@if ( Model.InPanel ) {
    <div class="panel panel-default">
        @MainMarkup()
    </div>
} else {
    @MainMarkup()
}