@using Sigil.Models
@using Sigil.ViewModels

@model IssuePanelPartialVM

@helper MainMarkup() {
    <div class="panel-body">
        <div class="media">
            <div class="media-object pull-left votebutton-box">
                @if ( !Request.IsAuthenticated ) {
                    <img src="~/Content/Images/notvoted.png" class="votelogin" /> @* onclick="redirectToLogin()" onmouseover="votehover(this)" onmouseout="voteunhover(this)" *@
                } else if ( Model.UserVoted ) {
                    <img src="~/Content/Images/voted.png" class="unvoteup" data-issueid="@Model.issue.Id" /> @*onclick="unvoteup(this, @Model.issue.Id)" onmouseover="votehover(this)" onmouseout="voteunhover(this)"*@
                } else {
                    <img src="~/Content/Images/notvoted.png" class="voteup" data-issueid="@Model.issue.Id" /> @*onclick="voteup(this, @Model.issue.Id)" onmouseover="votehover(this)" onmouseout="voteunhover(this)"*@
                }
                <br />
                <span id="count-@Model.issue.Id" class="voteamount">@Model.issue.votes</span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="/@Model.issue.Product.Org.orgURL/@Model.issue.Product.ProductURL/@Model.issue.Id">@Model.issue.title</a>
                    @*@if ( Model.issue.responded ) { <small><i style="color:red;">Response!</i></small> }*@
                </h4>
                <p class="pull-left">
                    <img class="issue-panel-icon" src="@(Model.issue.Product.Image.icon_20)" /><span><a href="/@Model.issue.Product.Org.orgURL">@Model.issue.Product.Org.orgName</a></span>
                    @if (Model.issue.Product.ProductURL != "Default")
                    {
                    <span>: <a href="/@Model.issue.Product.Org.orgURL/@Model.issue.Product.ProductURL"> @Model.issue.Product.ProductName</a></span>
                    }
                    @if (Model.issue.Product.TopicId != null)
                    {
                        <span>in <a href="/t/@Model.issue.Product.Topic.topicURL">@Model.issue.Product.Topic.topicName</a></span>
                    }

                </p>
                <p class="pull-right">
                    Posted  @*@Sigil.Controllers.IssueController.TimeSince( thisIssue.CreateTime )*@ 
                    <span>by @Model.issue.User.DisplayName</span>
                </p>
            </div>
        </div>
    </div>
if ( Model.issue.responded && Model.InPanel ) {
        <div class="panel-footer">
            <b>Response: </b>
            @{var response = Model.issue.OfficialResponses[ 0 ].text;}
            @if ( response.Length > 100 ) {
                <span>@response.Substring( 0, 85 )...</span>
            } else {
                <span>@response</span>
            }
        </div>
    }
}

@if ( Model.InPanel ) {
    <div class="panel @(Model.issue.responded ? "panel-info" : "panel-default") issue-panel-partial">
        @MainMarkup()
    </div>
} else {
    @MainMarkup()
}