@using Microsoft.AspNet.Identity
@using Sigil.Models

@{ 
    string actionCalled = ViewContext.RouteData.GetRequiredString( "action" );
    string[] urlParts = Request.Url.AbsoluteUri.Remove(0, 24).Split('/');
    Org thisOrg;

    string[] actionsWithoutSidebar = {
        "Login",
        "Register",
        "OrgRegister"
    };

    /*string[] actionsWithoutFooter = {
        "Login",
        "Register"
    };*/
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="~/Content/Images/favicon.png" />
   
    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <link href="~/Content/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('#searchBox').autocomplete({
                source: '@Url.Action("SearchDB","Search")'
            });
        });
    </script>

    @Styles.Render( "~/Content/bootstrap.css" )
    @Styles.Render( "~/Content/bootstrap-theme.css" )
    @Styles.Render( "~/Content/Site.css" )

    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/voting.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body class="page">
    <div class="wrap">
        @Html.Partial( "_Header" )
        <div class="container main-container">
            <div class="row">
                @RenderBody()
                @if ( !actionsWithoutSidebar.Contains( actionCalled ) ) {
                    @Html.Partial( "../Shared/_SideBar", Sigil.Controllers.AccountController.userSubs( User ) )
                }
            </div>
        </div>
    </div>
    <br class="clear" />
    @*if ( !actionsWithoutFooter.Contains( actionCalled ) ) {}*@
        @Html.Partial( "_Footer" )
    
    @RenderSection( "scripts", required: false )
</body>
</html>
