@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <link href="~/Content/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

    <script type="text/javascript">
    $(function () {
        $('#searchBox').autocomplete({
            source: '@Url.Action("SearchDB","Search")'
        });
    });
    </script>

    <script type="text/javascript" src="~/Scripts/voting.js"></script>
    <script type="text/javascript" src="~/Scripts/subscriptions.js"></script>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body class="page">
    <div class="page-container">
        @Html.Partial( "_Header" )
        <section class="main">
            @RenderBody()
            @Html.Partial( "../Shared/_SideBar", Sigil.Controllers.AccountController.userSubs( User ) )
            <br class="clear" />
        </section>
    </div>
    @Html.Partial( "_Footer" )
    @RenderSection("scripts", required: false)
</body>
</html>
