@using Microsoft.AspNet.Identity
@using Sigil.Models

@{ 
    string actionCalled = ViewContext.RouteData.GetRequiredString( "action" );
    string[] urlParts = Request.Url.AbsoluteUri.Remove( 0, 24 ).Split( '/' );

    string[] actionsWithSubButton = {
        "OrgPage",
        "IssuePage",
        "CatPage",
        "TopicPage"
    };

    /*string[] actionsWithoutFooter = {
        "Login",
        "Register"
    };*/
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="~/Content/Images/favicon.png" />

    @*<script type="text/javascript">
        $(function () {
            $('#searchBox').autocomplete({
                source: '@Url.Action("SearchDB","Search")'
            });
        });
    </script>*@

    @Styles.Render( "~/Content/jquery-ui-1.9.2.custom.min.css" )
    @Styles.Render( "~/Content/bootstrap.css" )
    @Styles.Render( "~/Content/bootstrap-theme.css" )
    @Styles.Render( "~/Content/Site.css" )

    <title>@ViewBag.Title</title>
</head>
<body class="page">
    <div class="wrap">
        @Html.Partial( "_Header" )
        <div class="container main-container">
            <div class="row">
                <!-- Main column and sidebar in here -->
                @RenderBody()
            </div>
        </div>
    </div>
    <br class="clear" />
    @*if ( !actionsWithoutFooter.Contains( actionCalled ) ) {}*@
    @Html.Partial( "_Footer" )
    
    @RenderSection( "scripts", required: false )
    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/voting.js"></script>
    <script type="text/javascript" src="~/Scripts/Search.js"></script>
</body>
</html>
