@using Microsoft.AspNet.Identity
@using Sigil.ViewModels
@model UserViewModel
@if ( Request.IsAuthenticated && Model.User != null) {


    if(User.IsInRole("SigilAdmin"))
    {
        <li>
            @Html.ActionLink("Site Admin Panel", "Index", "Admin", routeValues: null, htmlAttributes: new {@class ="pull-right", style="border-left:0"})
        </li>
    }
    if(User.IsInRole("OrgSuperAdmin") || User.IsInRole("OrgAdmin") || User.IsInRole("SigilAdmin"))
    {
        <li>
            @*Html.ActionLink("Admin Panel", "OrgAdmin", "Admin", routeValues: new { orgURL = Model.orgURL }, htmlAttributes: new { @class = "pull-right", style = "border-left:0" })*@
            <a href="/@Model.orgURL/admin/">Org Admin Panel</a>
        </li>
    }
    <li>
        <img id="header-user-icon" class="img-rounded img-responsive header-user-icon pull-left" src="@Model.User.Image.icon_100">
        @Html.ActionLink( Model.User.DisplayName, "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "pull-right", style = "border-left:0;" } )
    </li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">
            @using ( Html.BeginForm( "LogOff", "Account", FormMethod.Post, new { id = "logoutForm" } ) ) {
                @Html.AntiForgeryToken()
                <span>Log Out</span>
            }
        </a>
    </li>

} else {
    <li>@Html.ActionLink( "Log In", "Login", "Account", routeValues: null, htmlAttributes: new { } )</li>
    <li>@Html.ActionLink( "Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { style = "margin-right:12px;" } )</li>
}