@using Microsoft.AspNet.Identity
@using Sigil.Models

@if ( Request.IsAuthenticated ) {
    <script type="text/javascript" src="~/Scripts/notifications.js"></script>
    <li>
        <img id="header-user-icon" class="img-rounded img-responsive header-user-icon pull-left" onclick="shownotifications()" src="@(Sigil.Controllers.ImageController<AspNetUser>.Get_Icon_100(User.Identity.GetUserId()))">
        @Html.ActionLink( User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "pull-right", style = "border-left:0;" } )
    </li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">
            @using ( Html.BeginForm( "LogOff", "Account", FormMethod.Post, new { id = "logoutForm" } ) ) {
                @Html.AntiForgeryToken()
                <span>Log Out</span>
            }
        </a>
    </li>
    @*<div id="notifications-shade">
        <img class="callout" src="~/Content/Images/callout.png" />
        <div class="panel panel-default notifications-panel">
            <div class="panel-body">
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src="/Images/User/nervecenter_100.png" class="notification-icon" alt="Sample Image">
                    </a>
                    <div class="media-body">
                        <span>Why hello durr, dis is a notification.</span>
                    </div>
                </div>
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src="/Images/User/nervecenter_100.png" class="notification-icon" alt="Sample Image">
                    </a>
                    <div class="media-body">
                        <span>This is a second notification with a longer text body because in the Ministry of Feedback there really is just too much room and space to use and we need to fill it with useless shit.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
} else {
    <li>@Html.ActionLink( "Log In", "Login", "Account", routeValues: null, htmlAttributes: new { } )</li>
    <li>@Html.ActionLink( "Create Account", "Register", "Account", routeValues: null, htmlAttributes: new { } )</li>
}
