@using Microsoft.AspNet.Identity
@using Sigil.ViewModels
@model UserViewModel
@if ( Request.IsAuthenticated && Model.User != null ) {

    @*<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
    </ul>*@

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">
                @using ( Html.BeginForm( "LogOff", "Account", FormMethod.Post, new { id = "logoutForm" } ) ) {
                    @Html.AntiForgeryToken()
                    <span>Log Out</span>
                }
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink( Model.User.DisplayName, "Index", "Manage" )
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right hidden-xs">
        <li style="position:relative;">
            <img id="header-user-icon" class="img-rounded img-responsive" src="@Model.User.Image.icon_100" style="height: 40px;margin-top:10px;">
            <img id="num-notes-back" src="~/Content/Images/num-notes-back.png">
            <h5 id="num-notes"></h5>
        </li>
    </ul>

    if ( User.IsInRole( "OrgSuperAdmin" ) || User.IsInRole( "OrgAdmin" ) || User.IsInRole( "SigilAdmin" ) ) {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/@Model.orgURL/admin/">Org Admin Panel</a></li>
        </ul>
    }

    if ( User.IsInRole( "SigilAdmin" ) ) {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink( "Site Admin Panel", "Index", "Admin" )</li>
        </ul>
    }

} else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink( "Sign Up", "Register", "Account" )</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink( "Log In", "Login", "Account")</li>
    </ul>
}