@using Microsoft.AspNet.Identity
@using Sigil.ViewModels
@model UserViewModel
@if ( Request.IsAuthenticated && Model.User != null) {

    <li>
        <img id="header-user-icon" class="img-rounded img-responsive header-user-icon pull-left" onclick="shownotifications()" src="@Model.User.Image.icon_100">
        @Html.ActionLink( Model.User.DisplayName, "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "pull-right", style = "border-left:0;" } )
    </li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">
            @using ( Html.BeginForm( "LogOff", "Account", FormMethod.Post, new { id = "logoutForm" } ) ) {
                @Html.AntiForgeryToken()
                <span>Log Out</span>
            }
        </a>
    </li>

} else {
    <li>@Html.ActionLink( "Log In", "Login", "Account", routeValues: null, htmlAttributes: new { } )</li>
    <li>@Html.ActionLink( "Create Account", "Register", "Account", routeValues: null, htmlAttributes: new { } )</li>
}