@using Sigil.Models

@* Model is <Org, List of user subs *@
@model Tuple<Org, List<Subscription>>

@{ 
    Org thisOrg = Model.Item1;
    List<Subscription> userSubs = Model.Item2;
}

<div class="col-md-3 .col-lg-3">
    <form action="@Url.Action( "CreateIssue", "Issue" )">
        <button class="btn btn-info btn-block sidebar-button">Submit new feedback</button>
    </form>
    <script type="text/javascript" src="~/Scripts/subscriptions.js"></script>
    @if ( thisOrg != default( Org ) ) {
        if ( !Request.IsAuthenticated ) {
            <a class="btn btn-primary btn-block sidebar-button subscribe" onclick="redirectToLogin()">Subscribe to @thisOrg.orgName</a>
        } else if ( userSubs.Any<Subscription>( s => s.OrgId == thisOrg.Id ) ) {
            <a class="btn btn-danger btn-block sidebar-button unsubscribe" onclick="unsubscribe(this, '@thisOrg.orgURL')">Unsubscribe from @thisOrg.orgName</a>
        } else {
            <a class="btn btn-primary btn-block sidebar-button subscribe" onclick="subscribe(this, '@thisOrg.orgURL')">Subscribe to @thisOrg.orgName</a>
        }
    }
    @if (Request.IsAuthenticated) {
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Url.Action( "Index", "Subscriptions" )">Your Subscriptions</a></div>
            <div class="panel-body">
                @foreach ( Subscription sub in userSubs ) {
                    if ( sub.OrgId != 0 && sub.CatId == 0 ) {
                        <a href="/@sub.Org.orgURL" class="sub"><img class="sub-org-icon" src="../Content/Images/orgicons/@(sub.Org.orgURL)_15.png">@sub.Org.orgName</a><br>
                    } else if ( sub.CatId != 0 ) {
                        <a href="/@sub.Org.orgURL/c/@sub.Category.catURL" class="sub"><img class="sub-org-icon" src="../Content/Images/caticons/@(sub.Category.catURL)_15.png">@sub.Category.catName</a><br>
                    } else {
                        <a href="/@sub.Topic.topicURL" class="sub"><img class="sub-org-icon" src="../Content/Images/topicicons/@(sub.Topic.topicURL)_15.png">@sub.Topic.topicURL</a><br>
                    }
                }
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-body">
            Ads go here.
        </div>
    </div>
</div>