@using Sigil.Models

@* Model is <Org, List of user subs *@
@model List<Subscription>

@{ 
    List<Subscription> userSubs = Model;
}

<div class="col-md-3 .col-lg-3">
    <form action="@Url.Action( "CreateIssue", "Issue" )">
        <button class="btn btn-info btn-block sidebar-button">Submit new feedback</button>
    </form>
    @if (Request.IsAuthenticated) {
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Url.Action( "Index", "Subscriptions" )">Your Subscriptions</a></div>
            <div class="panel-body">
                @foreach ( Subscription sub in userSubs ) {
                    if ( sub.OrgId != 0 && sub.CatId == 0 ) {
                        <a href="/@sub.Org.orgURL" class="sub"><img class="sub-org-icon" src="@(Sigil.Controllers.ImageController<Org>.Get_Icon_20(sub.Org))">@sub.Org.orgName</a><br>
                    } else if ( sub.CatId != 0 ) {
                        <a href="/@sub.Org.orgURL/c/@sub.Category.catURL" class="sub"><img class="sub-org-icon" src="@(Sigil.Controllers.ImageController<Category>.Get_Icon_20(sub.Category))">@sub.Category.catName</a><br>
                    } else {
                        <a href="/@sub.Topic.topicURL" class="sub"><img class="sub-org-icon" src="@(Sigil.Controllers.ImageController<Topic>.Get_Icon_20(sub.Topic))">@sub.Topic.topicURL</a><br>
                    }
                }
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-body">
            Ads go here.
        </div>
    </div>
</div>