@using Sigil.ViewModels
@using Sigil.Models

@* Model is <Org, List of user subs *@
@model SideBarVM

@{ 
    IEnumerable<SubscriptionViewModel> userSubs = Model.Subscriptions;
}

<div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
    @if ( Model.showOrgBox ) {
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="margin: 10px auto 0px;"><a href="/@Model.thisOrg.orgURL"><img class="sub-org-icon" src="@Model.thisOrg.Image.icon_20" />@Model.thisOrg.orgName</a></h3><br />
                <a href="#"><img class="sub-org-icon" src="~/Content/Images/website.png" />Website</a><br />
                <a href="#"><img class="sub-org-icon" src="~/Content/Images/mail.png" />Message</a>
                <hr />
                <a href="/@Model.thisOrg.orgURL/data" style="font-size:23px;"><div class="btn btn-sm btn-primary" style="padding:2px 12px;width:100%;">Data</div></a>
                <hr />
                <h4 style="margin-bottom:10px;">Products:</h4>
                @foreach ( Product p in Model.orgProducts ) {
                    <a href="/@Model.thisOrg.orgURL/@p.ProductURL" class="sub"><img class="sub-org-icon" src="@p.Image.icon_20" />@p.ProductName</a><br />
                }
            </div>
        </div>
    }
    @if (Model.showSubscriptions) {
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Url.Action( "Index", "Subscriptions" )">Your Subscriptions</a></div>
            <div class="panel-body">
                @foreach(var sub in userSubs)
                {
                    <a href="@sub.subURL" class="sub"><img class="sub-org-icon" src="@sub.subIcon" />@sub.subName</a><br />
                }
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-body">
            Ads go here.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" style="font-size:12px;">
            © 2016 Sigil Technologies Inc.<br />
            <a href="/about">About</a>
            |
            <a href="/legal">Legal</a>
            |
            <a href="/advertise">Advertise</a>
            |
            <a href="#">Twitter</a><br />
            <a href="https://www.facebook.com/Sigil-Technologies-Inc-1617420208509874/">Facebook</a>
            |
            <a href="mailto:contact@sigil.tech">Contact</a>
        </div>
    </div>
</div>