@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DotNet.Highcharts
@using Sigil.Models
@model List<Highcharts>

@{
    Org thisOrg = ViewBag.thisOrg;
    Issue thisIssue = ViewBag.thisIssue;
}

<div class="first-column">
    <img class="org-banner" src="../Content/Images/orgbanners/microsoft.png"></img>
    <section class="issue-data-body">
        <div class="issue-vote-area">
            <span class="issue-vote-amount" id="count-1">40</span>
        </div>
        <div class="issue-main-area issue-main-issue-page">
            <div class="issue-main-cell">
                <div class="issue-title-area issue-main-sub-areas"><span class="issue-title">@thisIssue.title</span>
                    <div class="issue-info-area issue-main-sub-areas">
                        <span class="issue-org-cat-topic">
                            <img class="issue-info-icon" src="../Content/Images/orgicons/microsoft_20.png"></img>@thisIssue.Org.orgName :
                            <img class="issue-info-icon" src="../Content/Images/caticons/windows_20.png"></img>Windows
                            in Operating Systems
                        </span>
                        <span class="issue-user-date">
                           @thisIssue.createTime
                            <img class="issue-info-icon" src="../Content/Images/usericons/nervecenter_20.png"></img>@thisIssue.AspNetUser.UserName
                        </span>
                    </div>
                 </div>
            </div>
            <br class="clear">
            <div class="issue-data">
                @(Model[0])
                <p>

                    Views this week: @ViewBag.weekViewCount<br />
                    Votes this week: @ViewBag.weekVoteCount<br />
                    Conversion rate: @ViewBag.weekRatio%
                </p>
                @(Model[1])
                <p>
                    Views this month: @ViewBag.monthViewCount<br />
                    Votes this month: @ViewBag.monthVoteCount<br />
                    Conversion rate: @ViewBag.monthRatio%
                </p>
            </div>
    </section>
</div>
