@using Microsoft.AspNet.Identity
@using Sigil.Models
@using Sigil.ViewModels
@model IssuePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<Tuple<Comment,bool>> issueComments = Model.IssueComments;
    IEnumerable<OfficialResponse> official = Model.OfficialResponses;
    IEnumerable<SubscriptionViewModel> userSubs = Model.UserVM.UserSubscriptions;

    Issue thisIssue = Model.IssuePanelVM.issue;
    UserVoteCol userVote = ViewBag.userVote;

    ViewBag.Title = "Sigil - " + thisIssue.title;

    bool pull = false;

}

<div class="col-md-9 col-lg-9">
    <img class="img-rounded img-responsive org-banner-small" src="@(Model.IssueOrg.Image.banner)">
    <div class="btn-group btn-group-sm btn-group-justified" style="margin-bottom:20px;">
        <a class="btn btn-warning" href="/@Model.IssueOrg.orgURL">Main feed</a>
        <a class="btn btn-info" href="/@Model.IssueOrg.orgURL/responses">Responses</a>
        @*<a class="btn btn-success" href="/@Model.IssueOrg.orgURL/@Model.IssueProduct.ProductURL/@thisIssue.Id/data">Data</a>*@

        @if ( !Request.IsAuthenticated ) {
            <a class="btn btn-primary subscribe" onclick="redirectToLogin()">Subscribe to @Model.IssueOrg.orgName</a>
        } else if ( userSubs.Any<SubscriptionViewModel>( s => s.subName == Model.IssueOrg.orgName ) ) {
            <a class="btn btn-danger unsubscribe" onclick="unsubscribe(this, '@Model.IssueOrg.orgURL')">Unsubscribe from @Model.IssueOrg.orgName</a>
        } else {
            <a class="btn btn-primary subscribe" onclick="subscribe(this, '@Model.IssueOrg.orgURL')">Subscribe to @Model.IssueOrg.orgName</a>
        }
    </div>
    <div class="panel panel-default issue-panel-partial">
        @*Html.Partial( "../Shared/_IssuePanelPartial", Model.IssuePanelVM )*@
        <div class="panel-body">
            <div class="media">
                <div class="media-object pull-left votebutton-box">
                    @if ( !Request.IsAuthenticated ) {
                        <img src="~/Content/Images/notvoted.png" class="voteup" onclick="redirectToLogin()" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                    } else if ( Model.IssuePanelVM.UserVoted ) {
                        <img src="~/Content/Images/voted.png" class="unvoteup" onclick="unvoteup(this, @thisIssue.Id)" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                    } else {
                        <img src="~/Content/Images/notvoted.png" class="voteup" onclick="voteup(this, @thisIssue.Id)" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                    }
                    <br />
                    <span id="count-@thisIssue.Id" class="voteamount">@thisIssue.votes</span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/@thisIssue.Product.Org.orgURL/@thisIssue.Product.ProductURL/@thisIssue.Id">@thisIssue.title</a>
                        @*@if ( Model.issue.responded ) { <small><i style="color:red;">Response!</i></small> }*@
                    </h4>
                    <p class="pull-left">
                        <img class="issue-panel-icon" src="@(thisIssue.Product.Image.icon_20)" /><span><a href="/@thisIssue.Product.Org.orgURL">@thisIssue.Product.Org.orgName</a></span>
                        @if ( thisIssue.Product.ProductURL != "Default" ) {
                            <span>: <a href="/@thisIssue.Product.Org.orgURL/@thisIssue.Product.ProductURL"> @thisIssue.Product.ProductName</a></span>
                        }
                        @if ( thisIssue.Product.TopicId != null ) {
                            <span>in <a href="/t/@thisIssue.Product.Topic.topicURL">@thisIssue.Product.Topic.topicName</a></span>
                        }

                    </p>
                    <p class="pull-right">
                        Posted @*@Sigil.Controllers.IssueController.TimeSince( thisIssue.CreateTime )*@
                        <span>by @thisIssue.User.DisplayName</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-body">@thisIssue.text</div>
    </div>
    @if ( official.Count() > 0) {
        <div class="panel panel-primary">
            @foreach (var OfResponse in official)
            {
                <div class="panel-heading">Official Response</div>
                <div class="panel-body">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="@OfResponse.User.Image.icon_100" class="media-object" alt="Sample Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">@OfResponse.User.DisplayName<small><i> Posted @*@Sigil.Controllers.IssueController.TimeSince(OfResponse.createTime)*@</i></small></h4>
                            <p>
                                @OfResponse.text
                            </p>
                            <div class="btn-group glyphicon-position" data-toggle="buttons">
                                <button type="button" class="btn btn-success btn-xs"><!--<span class="glyphicon glyphicon-ok"></span>--> Helpful</button>
                                <button type="button" class="btn btn-danger btn-xs"><!--<span class="glyphicon glyphicon-remove"></span>--> Unhelpful</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            @if (issueComments.Count() == 0) 
            {
                <i>No comments yet.</i>
            } 
            else 
            {
                foreach ( var comment in issueComments ) 
                {
                    <div class="media">
                        <a href="#" class=@((pull = !pull) ? "pull-left" : "pull-right")>
                            <img src="@comment.Item1.User.Image.icon_100" class="media-object" alt="Sample Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">@comment.Item1.User.DisplayName<small><i>Posted @*@Sigil.Controllers.IssueController.TimeSince( @comm.postDate )*@</i></small></h4>
                            <p>@comment.Item1.text</p>
                        </div>
                    </div>

                }
            }
            @if ( Request.IsAuthenticated ) 
            {
                <form method="post" class="issue-add-comment">
                    <div class="form-group">
                        <label for="inputComment">Add a comment</label>
                        <textarea type="text" name="text" class="form-control" id="inputComment" placeholder="What would you like to say?"></textarea>
                        @Html.ValidationMessage( "text" )
                    </div>
                    @if (Model.UserVM.isOrgAdmin)
                    {
                        <input type="checkbox" name="IsOfficial" id="IsOfficial" />
                        <label for="IsOfficial">Is Official Comment</label><br />
                    }
                    <button type="submit" name="buttonSubmit" class="btn btn-primary">Submit</button>
                    
                </form>
            }
        </div>
    </div>
</div>
@{Html.RenderAction("_SideBar", "Shared");}