@using Microsoft.AspNet.Identity
@using Sigil.Models
@model Tuple<Org, Issue, IQueryable<Comment>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Org thisOrg = Model.Item1;
    Issue thisIssue = Model.Item2;
    IQueryable<Comment> issueComments = Model.Item3;

    UserVoteCol userVote = ViewBag.userVote;

    ViewBag.Title = "Sigil - " + thisIssue.title;

    bool pull = false;

}

<div class="col-md-9 col-lg-9">
    )
    <img class="img-rounded img-responsive org-banner-small" src="@(Sigil.Controllers.ImageController<Org>.Get_Banner_Tall(thisOrg))">
    <article class="panel panel-default">
        @{var issuePanelModel = new Tuple<IssuePanelOptions, Issue>( new IssuePanelOptions() { inPanel = false, showOrg = true, showCat = false, showTopic = false, showUser = true,
                                                                                               userVoted = userVote.Check_Vote(thisIssue.Id, thisOrg.Id)}, thisIssue ); }
        @Html.Partial( "../Shared/_IssuePanelPartial", issuePanelModel )
        <div class="panel-body">@thisIssue.text</div>
    </article>
    @if ( thisIssue.responded ) {
        <div class="panel panel-primary">
            <div class="panel-heading">Official Response</div>
            <div class="panel-body">
                <div class="media">
                    <a href="#" class="pull-left">
                        <img src="../Content/Images/usericons/micro_100.png" class="media-object" alt="Sample Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Micro-Mike <small><i>Posted 1 hour ago</i></small></h4>
                        <p>
                            @thisIssue.officialComment
                        </p>
                        <div class="btn-group glyphicon-position" data-toggle="buttons">
                            <button type="button" class="btn btn-success btn-xs"><!--<span class="glyphicon glyphicon-ok"></span>--> Helpful</button>
                            <button type="button" class="btn btn-danger btn-xs"><!--<span class="glyphicon glyphicon-remove"></span>--> Unhelpful</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            @if (issueComments.Count<Comment>() == 0) 
            {
                <i>No comments yet.</i>
            } 
            else 
            {
                foreach ( Comment comm in issueComments ) 
                {
                    <div class="media">
                        <a href="#" class=@((pull = !pull) ? "pull-left" : "pull-right")>
                            <img src="@(Sigil.Controllers.ImageController<AspNetUser>.Get_Icon_100(comm.AspNetUser.Id))" class="media-object" alt="Sample Image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">@comm.AspNetUser.UserName <small><i>Posted @Sigil.Controllers.IssueController.TimeSince( @comm.postDate )</i></small></h4>
                            <p>@comm.text</p>
                        </div>
                    </div>

                }
            }
            @if ( Request.IsAuthenticated ) 
            {
                <form method="post" class="issue-add-comment">
                    <div class="form-group">
                        <label for="inputComment">Add a comment</label>
                        <textarea type="text" name="text" class="form-control" id="inputComment" placeholder="What would you like to say?"></textarea>
                        @Html.ValidationMessage( "text" )
                    </div>
                    <button type="submit" name="buttonSubmit" class="btn btn-primary">Submit</button>
                </form>
            }
        </div>
    </div>
</div>
@Html.Partial( "../Shared/_SideBar", new Tuple<Org, List<Subscription>>( thisOrg, Sigil.Controllers.AccountController.userSubs( User ) ) )