@using Microsoft.AspNet.Identity
@using Sigil.Models
@using Sigil.ViewModels
@model IssuePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<Tuple<Comment,bool>> issueComments = Model.IssueComments;
    IEnumerable<OfficialResponse> official = Model.OfficialResponses;
    IEnumerable<SubscriptionViewModel> userSubs = Model.UserVM.UserSubscriptions;

    Issue thisIssue = Model.IssuePanelVM.issue;
    UserVoteCol userVote = ViewBag.userVote;

    ViewBag.Title = "Sigil - " + thisIssue.title;

    bool pull = false;

}

<div class="col-md-9 col-lg-9">
    <img class="img-rounded img-responsive org-banner-small" src="@(Model.IssueOrg.Image.banner)">

    <div class="btn-group btn-group-sm btn-group-justified" style="margin-bottom:20px;">
        <a class="btn btn-warning" href="/@Model.IssueOrg.orgURL">Main feed</a>
        <a class="btn btn-info" href="/@Model.IssueOrg.orgURL/responses">Responses</a>
        @*<a class="btn btn-success" href="/@Model.IssueOrg.orgURL/@Model.IssueProduct.ProductURL/@thisIssue.Id/data">Data</a>*@

        @if ( !Request.IsAuthenticated ) {
            <a class="btn btn-primary subscribe" onclick="redirectToLogin()">Subscribe to @Model.IssueOrg.orgName</a>
        } else if ( userSubs.Any<SubscriptionViewModel>( s => s.subName == Model.IssueOrg.orgName ) ) {
            <a class="btn btn-danger unsubscribe" onclick="unsubscribe(this, '@Model.IssueOrg.orgURL')">Unsubscribe from @Model.IssueOrg.orgName</a>
        } else {
            <a class="btn btn-primary subscribe" onclick="subscribe(this, '@Model.IssueOrg.orgURL')">Subscribe to @Model.IssueOrg.orgName</a>
        }
    </div>

    <div class="panel panel-default issue-panel-partial">
        @*Html.Partial( "../Shared/_IssuePanelPartial", Model.IssuePanelVM )*@
        <div class="panel-body">
            <div class="media">
                <div class="media-object pull-left votebutton-box">
                    @if ( !Request.IsAuthenticated ) {
                        <img src="~/Content/Images/notvoted.png" class="votelogin" />
                    } else if ( Model.IssuePanelVM.UserVoted ) {
                        <img src="~/Content/Images/voted.png" class="unvoteup" data-issueid="@thisIssue.Id" />
                    } else {
                        <img src="~/Content/Images/notvoted.png" class="voteup" data-issueid="@thisIssue.Id" />
                    }
                    <br />
                    <span id="count-@thisIssue.Id" class="voteamount">@thisIssue.votes</span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/@thisIssue.Product.Org.orgURL/@thisIssue.Product.ProductURL/@thisIssue.Id">@thisIssue.title</a>
                        @*@if ( Model.issue.responded ) { <small><i style="color:red;">Response!</i></small> }*@
                    </h4>
                    <p class="pull-left">
                        <img class="issue-panel-icon" src="@(thisIssue.Product.Image.icon_20)" /><span><a href="/@thisIssue.Product.Org.orgURL">@thisIssue.Product.Org.orgName</a></span>
                        @if ( thisIssue.Product.ProductURL != "Default" ) {
                            <span>: <a href="/@thisIssue.Product.Org.orgURL/@thisIssue.Product.ProductURL"> @thisIssue.Product.ProductName</a></span>
                        }
                        @if ( thisIssue.Product.TopicId != null ) {
                            <span>in <a href="/t/@thisIssue.Product.Topic.topicURL">@thisIssue.Product.Topic.topicName</a></span>
                        }

                    </p>
                    <p class="pull-right">
                        Posted @*@Sigil.Controllers.IssueController.TimeSince( thisIssue.CreateTime )*@
                        <span>by @thisIssue.User.DisplayName</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-body">@thisIssue.text</div>
    </div>

    @if ( official.Count() > 0 ) {
        for ( int responseNum = 0; responseNum < official.Count(); responseNum++ /*var OfResponse in official*/ ) {
        <div class="panel panel-primary">
                <div class="panel-heading">
                    Official Response
                    @if (official.Count() > 1) {
                        <span>#@(responseNum + 1)</span>
                    }
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="pull-left">
                            <img src="@official.ElementAt(responseNum).User.Image.icon_100" class="media-object" alt="Sample Image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@official.ElementAt( responseNum ).User.DisplayName<small><i> Posted @official.ElementAt( responseNum ).createTime.ToShortDateString()</i></small></h4>
                            <p>
                                @official.ElementAt( responseNum ).text
                            </p>
                            @*<div class="btn-group glyphicon-position" data-toggle="buttons">
                                <button type="button" class="btn btn-success btn-xs"><!--<span class="glyphicon glyphicon-ok"></span>--> Helpful</button>
                                <button type="button" class="btn btn-danger btn-xs"><!--<span class="glyphicon glyphicon-remove"></span>--> Unhelpful</button>
                            </div>*@
                        </div>
                    </div>
                </div>
        </div>
        }
    }
    @if (Model.UserVM.isOrgAdmin)
    {
    <div class="panel panel-default">
        <div class="panel-heading">Make an official response</div>
        <div class="panel-body">
            <form method="post">
                <div class="form-group">
                    <textarea type="text" name="text" class="form-control panel-input-box" id="input-re" placeholder="Address this issue for your customers"></textarea>
                    @Html.ValidationMessage("text")
                </div>
                @if (Model.UserVM.isOrgAdmin && Model.UserVM.User.OrgId == Model.IssueOrg.Id)
                {
                    <input type="checkbox" name="IsOfficial" id="IsOfficial" checked="checked" hidden="hidden"/>
                }
                <button type="submit" name="buttonSubmit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
            @if (issueComments.Count() == 0) 
            {
                <i>No comments yet.</i>
            } 
            else 
            {
                foreach ( var comment in issueComments ) 
                {
                    <div class="media">
                        @*<div class=@((pull = !pull) ? "pull-left" : "pull-right")>*@
                        <div class="pull-left">
                            <img src="@comment.Item1.User.Image.icon_100" class="media-object" alt="Sample Image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                @comment.Item1.User.DisplayName
                                <small><i> Posted @comment.Item1.createTime.ToShortDateString()</i></small>
                                @if ( comment.Item1.UserId == User.Identity.GetUserId() ) { 
                                    <small><a href="/delete/comment/@comment.Item1.Id"> Delete</a></small> 
                                }
                            </h4>
                            <p>@comment.Item1.text</p>
                        </div>
                    </div>

                }
            }
            @if ( Request.IsAuthenticated ) 
            {
                <form method="post" class="issue-add-comment">
                    <div class="form-group">
                        <label for="inputComment">Add a comment</label>
                        <textarea type="text" name="text" class="form-control panel-input-box" id="inputComment" placeholder="What would you like to say?"></textarea>
                        @Html.ValidationMessage( "text" )
                    </div>
                   
                    <button type="submit" name="buttonSubmit" class="btn btn-primary">Submit</button>
                    
                </form>
            }
        </div>
    </div>
</div>
@{Html.RenderAction("_SideBar", "Shared");}