@using Sigil.Models
@using Sigil.ViewModels
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Sigil - Features";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="~/Content/Images/favicon.png" />

    @*<script type="text/javascript">
            $(function () {
                $('#searchBox').autocomplete({
                    source: '@Url.Action("SearchDB","Search")'
                });
            });
        </script>*@

    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/typeahead.js"></script>
    @*Scripts.Render("~/bundles/jqueryui")*@
    @*<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>*@
    @*Styles.Render( "~/Content/jquery-ui-1.9.2.custom.min.css" )*@
    @Styles.Render( "~/Content/bootstrap-flatly.css" )
    @*@Styles.Render( "~/Content/bootstrap-theme.css" )*@
    @Styles.Render( "~/Content/Site.css" )
    @Styles.Render( "~/Content/PagedList.css" )
    @Styles.Render( "~/Content/datepicker.css" )
    @Styles.Render( "~/Content/bootstrap-select.css" )
    <title>@ViewBag.Title</title>
</head>
<body class="page">
    <div class="wrap">
        @Html.Partial( "_Header" )
        <div class="splash" style="height:100vh;display:table;width:100%;">
            <div class="row" style="display:table-cell;vertical-align:middle;">
                <div class="col-lg-12">
                    <span style="font-size:60px;">Feedback simplified</span>
                    <h4>Increase engagement etc.</h4>
                </div>
            </div>
        </div>
        <div class="row" style="max-width:800px;margin:20px auto;">
            Something about soemthing
        </div>
        <div class="splash splash-2" style="display:table;width:100%;">
            <div class="row" style="display:table-cell;vertical-align:middle;">
                <div class="col-lg-4 col-lg-offset-2" style="color:black;text-align:left;">
                    <h4><b>How feedback works now</b></h4>
                    <p>PR and community managers running around like mad. Getting a thousand questions here, answering a thousand of the same question there. Tailor-made feedback tools account for a tiny fraction of the user base.</p>
                </div>
            </div>
        </div>
        <div class="row" style="max-width:800px;margin:20px auto;">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Normal</div>
                    <div class="panel-body">500 dorra</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Premium</div>
                    <div class="panel-body">1000 dorra</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Enterprise</div>
                    <div class="panel-body">you terr us dorra</div>
                </div>
            </div>
        </div>
    </div>
    <br class="clear" />
    @Html.Partial( "_Footer" )

    <script type="text/javascript" src="~/Scripts/voting.js"></script>
    <script type="text/javascript" src="~/Scripts/Search.js"></script>
    @*<script type="text/javascript" src="~/Scripts/issueform.js"></script>*@
    <script type="text/javascript" src="~/Scripts/addissueform.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications.js"></script>
    <script type="text/javascript" src="~/Scripts/subscriptions.js"></script>
</body>
</html>