@using Sigil.Models
@using Sigil.ViewModels
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Sigil - Features";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="~/Content/Images/favicon.png" />

    @*<script type="text/javascript">
            $(function () {
                $('#searchBox').autocomplete({
                    source: '@Url.Action("SearchDB","Search")'
                });
            });
        </script>*@

    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/typeahead.js"></script>
    @*Scripts.Render("~/bundles/jqueryui")*@
    @*<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>*@
    @*Styles.Render( "~/Content/jquery-ui-1.9.2.custom.min.css" )*@
    @Styles.Render( "~/Content/bootstrap-flatly.css" )
    @*@Styles.Render( "~/Content/bootstrap-theme.css" )*@
    @Styles.Render( "~/Content/Site.css" )
    @Styles.Render( "~/Content/PagedList.css" )
    @Styles.Render( "~/Content/datepicker.css" )
    @Styles.Render( "~/Content/bootstrap-select.css" )
    <title>@ViewBag.Title</title>
</head>
<body class="page">
    <div class="wrap">
        @Html.Partial( "_Header" )
        <div class="splash" style="height:100vh;display:table;width:100%;">
            <div class="row" style="display:table-cell;vertical-align:middle;">
                <div class="col-lg-12">
                    <img src="~/Content/Images/symbol-white.png" style="width:200px;"/><br />
                    <span style="font-size:60px;">Feedback simplified</span>
                    <h4>Increase engagement while making life easy for PR. It's a win/win.</h4>
                </div>
            </div>
        </div>
        <div class="container" style="overflow:hidden;">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12" style="margin-top:5%;">
                    <h2><b>How feedback works now</b></h2>
                    <h3>PR and community managers running around like mad. Getting a thousand questions here, answering a thousand of the same question there. Tailor-made feedback tools account for a tiny fraction of the user base.</h3>
                </div>
                <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 hidden-sm">
                    <img src="~/Content/Images/feedback-shadow.png" />
                </div>
            </div>
        </div>
        <div class="container splash" style="width:100%;background-image:none;background-color:white;color:black;padding-top:20px;box-shadow: 0px 0px 40px -10px #000;">
            <div class="row">
                <h2>With Sigil</h2>
                <h4>Simple and unified, even for your users.</h4>
            </div>
            <div class="row">
                Searchable, one place, boost engagement immensely
            </div>
            <div class="row">
                All the tools PR managers need and expect
            </div>
            <div class="row">
                Simple setup and management, no monolithic component
            </div>
        </div>
        <div class="row" style="max-width:800px;margin:20px auto;">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Normal</div>
                    <div class="panel-body">500 dorra</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Premium</div>
                    <div class="panel-body">1000 dorra</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Enterprise</div>
                    <div class="panel-body">you terr us dorra</div>
                </div>
            </div>
        </div>
    </div>
    <br class="clear" />
    @Html.Partial( "_Footer" )

    <script type="text/javascript" src="~/Scripts/voting.js"></script>
    <script type="text/javascript" src="~/Scripts/Search.js"></script>
    @*<script type="text/javascript" src="~/Scripts/issueform.js"></script>*@
    <script type="text/javascript" src="~/Scripts/addissueform.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications.js"></script>
    <script type="text/javascript" src="~/Scripts/subscriptions.js"></script>
</body>
</html>