@using Sigil.Models
@using Sigil.ViewModels
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using PagedList.Mvc;
@model Home_IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil";
    //PagedList.IPagedList<IssueViewModel> issueList = Model.UserIssues;
    //UserVoteCol voteList = Model.UserVM.UserVotes;
}

<div class="col-md-9 col-lg-9">
    <h3>@Model.UserVM.User.DisplayName's feed</h3>
    <div class="panel">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="text">Text:</label><br />
                    <textarea id="title-input" class="form-control" type="text" name="text" value="@Request.Form["text"]" placeholder="If you'd like, elaborate on your feedback in-depth"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit new feedback</button>
                </div>
            </form>
        </div>
    </div>
    @if (Model.UserIssues.Count > 0 ) {
        foreach ( IssueViewModel issue in Model.UserIssues) {
            @Html.Partial( "../Shared/_IssuePanelPartial", issue)
        }
        <br />
        @*Page @issueList.PageCount < issueList.PageNumber ? 0 : issueList.PageNumber of @issueList.PageCount*@

        @Html.PagedListPager(Model.UserIssues, page => Url.Action("Index","Home", new {page}))
    } else {
        <br />
        <h4>There's nothing here. :( Search for a company, person, or topic to subscribe to!</h4>
    }
</div>
@Html.Partial( "../Shared/_SideBar", Model.UserVM.UserSubscriptions)