@using Sigil.Models
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using PagedList.Mvc;
@model Tuple<PagedList.IPagedList<Sigil.Models.Issue>, UserVoteCol>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil";
    PagedList.IPagedList<Sigil.Models.Issue> issueList = Model.Item1;
    UserVoteCol voteList = Model.Item2;
}

<div class="col-md-9 col-lg-9">
    <h3>@User.Identity.GetUserName()'s feed</h3>
    @if ( issueList.Count > 0 ) {
        foreach ( Issue issue in issueList ) {
            var issuePanelModel = new Tuple<IssuePanelOptions, Issue>( new IssuePanelOptions() { inPanel = true, showOrg = true, showCat = false, showTopic = false, showUser = true,
                                                                                                 userVoted = voteList.Check_Vote( issue.Id, issue.OrgId ) }, 
                                                                       issue );
            @Html.Partial( "../Shared/_IssuePanelPartial", issuePanelModel )
        }
        <br />
        @*Page @issueList.PageCount < issueList.PageNumber ? 0 : issueList.PageNumber of @issueList.PageCount*@

        @Html.PagedListPager(Model.Item1, page => Url.Action("Index","Home", new {page}))
    } else {
        <br />
        <h4>There's nothing here. :( Search for a company, person, or topic to subscribe to!</h4>
    }
</div>
@Html.Partial( "../Shared/_SideBar", new Tuple<Org, List<Subscription>>( default(Org), Sigil.Controllers.AccountController.userSubs( User ) ) )