@using Sigil.Models
@using Microsoft.AspNet.Identity

@model Tuple<List<Issue>, List<UserVote>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    List<Issue> issueList = Model.Item1;
    List<UserVote> voteList = Model.Item2;
}

<div class="first-column">
    <span class="feed-intent">@User.Identity.GetUserName()'s feed</span>
    @if ( issueList.Count > 0 ) {
        foreach ( Issue issue in issueList ) {
            <article class="issue-box">
                <div class="issue-vote-area">
                    <span class="issue-vote-amount" id="count-@issue.Id">@issue.votes</span>
                    @if ( voteList.Any( v => v.IssueID == issue.Id ) ) {
                        // Issue has been voted on, get the checked button and checked class
                        <img class="issue-vote-button checked" id="button-@issue.Id" src="../Content/Images/checked.png" onclick="vote(this, @issue.Id)" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                    } else {
                        // Issue hasn't been voted on, get the opposite
                        <img class="issue-vote-button unchecked" id="button-@issue.Id" src="../Content/Images/unchecked.png" onclick="vote(this, @issue.Id)" onmouseover="votehover(this)" onmouseout="voteunhover(this)">
                    }
                </div>
                <div class="issue-main-area">
                    <div class="issue-main-cell">
                        <div class="issue-title-area"><a href="/@issue.Org.orgURL/@issue.Id" class="issue-title">@issue.title</a>@if ( issue.responded ) { <b>Official Response!</b> }</div>
                        <div class="issue-info-area">
                            <span class="issue-org-cat-topic">
                                <img class="issue-info-icon" src="@Sigil.Controllers.ImageController.Get_Icon_20(issue.OrgId, typeof(Org))">@issue.Org.orgName
                                @if ( issue.TopicId != 0 ) { <span>in @issue.Topic.topicName</span> }
                            </span>
                            <span class="issue-user-date">
                                @Sigil.Controllers.IssueController.TimeSince( issue.createTime ) by
                                <img class="issue-info-icon" src="@Sigil.Controllers.ImageController.Get_Icon_20(issue.AspNetUser.Id)">@issue.AspNetUser.UserName
                            </span>
                        </div>
                    </div>
                </div>
            </article>
        }
    } else {
        <h3>Nothing here. :( Search for a company, person, or topic to subscribe to!</h3>
    }
</div>