@using Microsoft.AspNet.Identity
@using Sigil.Models
@using Sigil.ViewModels
@using System;

@model Home_LandingPageViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="~/Content/Images/favicon.png" />

    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <link href="~/Content/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

    @Styles.Render( "~/Content/bootstrap-flatly.css" )
    @*@Styles.Render( "~/Content/bootstrap-theme.css" )*@
    @Styles.Render( "~/Content/Site.css" )

    <style type="text/css">
        .media-heading {
            font-size:14px;
            font-weight: 600;
        }

        .media-body {
            font-size: 12px;
        }
    </style>

  
    <title>Sigil</title>
</head>
<body class="page">
    <nav class="navbar navbar-transparent navbar-static-top" style="margin-bottom:-60px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-center">
                    <li style="margin-left:30%;width:40%;display:inline-block;">
                        @using ( Html.BeginRouteForm( "Search Page", FormMethod.Post, new {@class = "navbar-form navbar-left", role = "search", style = "padding-left:-50%;width:100%;" } ) ) {
                            <div class="form-group" style="width:100%;">
                                <input id="searchBox" type="text" class="form-control" placeholder="Search for a company, person, or product" autocomplete="on" style="width:100%;">
                            </div>
                        }
                    </li>
                    <li class="pull-right">@Html.ActionLink( "Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "header-link" } )</li>
                    <li class="pull-right">@Html.ActionLink( "Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "header-link" } )</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @*Html.Partial( "_Header" )*@
    <section class="splash splash-landing">
        <div class="container" style="max-width:800px;">
            <div class="row" style="margin-bottom:40px;">
                <div class="col-lg-12 col-centered" style="max-width:350px;">
                    <img class="img-responsive" src="../Content/Images/logo-600.png">
                </div>
            </div>
            <div class="row landing-blurbs" style="margin-bottom:10px;">
                <div class="col-lg-4">
                    <img class="landing-blurb-image" src="../Content/Images/earth_white.png">
                    <p class="landing-blurb-text">We connect big and small. Engage with your favorite companies, elected officials, or even your employer.</p>
                </div>
                <div class="col-lg-4 hidden-xs hidden-sm">
                    <img class="landing-blurb-image" src="../Content/Images/speakerphone_white.png">
                    <p class="landing-blurb-text">Have a voice in the future. Your feedback matters. Make your thoughts known, and support those of your peers.</p>
                </div>
                <div class="col-lg-4 hidden-xs hidden-sm">
                    <img class="landing-blurb-image" src="../Content/Images/speedometer_white.png">
                    <p class="landing-blurb-text">The best gauge of the direction your company should take is customer demand. Know exactly what your users want the most.</p>
                </div>
            </div>
            <div class="row">
                <div class="btn-group btn-group-justified col-centered" style="max-width:800px;">
                    <a class="btn btn-info" href="/register">Start giving your own feedback</a>
                    <a class="btn btn-success" href="/features">See how Sigil can revamp feedback for your company.</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container landing-container">
        <div class="row">
            @foreach ( IGrouping<OrgViewModel, IssueViewModel> group in Model.TrendingIssues) {
                <div class="col-md-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="/@group.Key.OrgURL"><img src="@(group.Key.OrgImage.icon_20)" style="margin-right:5px;"/>@group.Key.OrgName</a></div>
                        @*<div class="panel-body"></div>*@
                        @foreach ( IssueViewModel issue in group ) {
                            @Html.Partial( "../Shared/_IssuePanelPartial", issue)
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.Partial( "_Footer" )
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/voting.js"></script>
    <script type="text/javascript" src="~/Scripts/subscriptions.js"></script>
    <script type="text/javascript" src="~/Scripts/Search.js"></script>
</body>
</html>
