@using Sigil.Models
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security

@model List<OrgApp>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sigil - Org Applications";
    List<OrgApp> applicantList = Model;
}

<div class="col-md-12 col-lg-12">
    @foreach (OrgApp applicant in applicantList) {
        
        <div class="panel panel-primary">
            <div class="panel-body">
                Org Name: @applicant.orgName<br />
                Org Apply Date: @applicant.ApplyDate
                Requested OrgURL: @applicant.orgURL<br />
                Org's Website:<a href="https://@(applicant.website) ">@applicant.website</a><br />
                Requested Org Admin Username: @applicant.DisplayName<br />
                Org Admin's Email: @applicant.AdminEmail<br />
                Org Admin's Name: @applicant.AdminContactName<br />
                Org Admins Phone: @applicant.ContactNumber<br />
                Org Admins Comment: @applicant.comment
                
                @if (!applicant.OrgApproved)
                {
                <form>
                    <button type="submit" class="btn btn-success" formaction="orgapps/@applicant.Id/">Approve</button>
                    <button type="submit" class="btn btn-danger">Disapprove</button>
                </form>
                }
            </div>
        </div>
    }
</div>
